numpy==1.16.2
tensorflow_gpu==2.5.0
h5py==2.9.0
transformers==2.5.1
typing==3.6.2
pandas==1.0.3
scipy==1.2.1
jieba==0.37
absl_py==0.8.1
gensim==3.8.1
sklearn_crfsuite==0.3.6
torch_nightly==1.0.0.dev20190328
flashtext==2.7
six==1.15.0
tqdm==4.48.0
seqeval==0.0.12
absl==0.0
apex==0.9.10dev
scikit_learn==0.23.2
tensorflow_addons==0.11.1
